
body{
    background-color: lightgrey; 
}

#Intro{
  height: 500px;
  
}

#client_testimontials{
background-size: cover;
margin-top: 10em;
margin-bottom: 10em;
width: 100vw;


}

.jumbotron{
    background-image: url(carl-heyerdahl-KE0nC8-58MQ-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    
  }

  .carousel-item{
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;

}
    
.lead{
    color:White;
    text-align: center;
    font-size: 40px;
}

section {
  opacity: 0;
  transform: translate(0, 20px); 
  transition: all 1s;
  }
  
  section.visible {
  opacity: 1;
  transform: translate(0, 0); 
  }
  @media (max-width: 575.98px){
    nav{
      text-align: center;
    }
    #Intro{
      overflow: auto
    }
 }
  
  
 @media (min-width: 768px) {
      .row {
        overflow:auto;
      }
      #client_testimonials{
        overflow: auto
      }
      #Contactinfo{
        overflow: auto;
      }
     }
  
     @media (min-width: 1200px){
      .row{
        font-size: 1.5em;
      }
     }
  
  

  

